@font-face {
  font-family: OneNike;
  src: url("/fonts/OneNike.woff");
}
@media screen and (max-width: 39.9375em) {
  .text-center-small {
    text-align: center;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: OneNike;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 100%;
}
a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: underline;
}
h1 {
  font-size: 45px;
}
@media screen and (min-width: 64em) {
  h1 {
    font-size: 54px;
  }
}
h3 {
  font-size: 26px;
}
.page-header-title {
  text-align: center;
  padding: 15px;
  margin: 0;
}
@media screen and (min-width: 64em) {
  .page-header-title {
    margin: 30px 0;
  }
}
@media screen and (min-width: 39.9375em) {
  .l-page-header {
    padding-bottom: 30px;
  }
}
.l-section-hero h2 {
  font-size: 54px;
  margin: 0;
}
.l-section-hero.is-inverse h1,
.l-section-hero.is-inverse h2,
.l-section-hero.is-inverse h3,
.l-section-hero.is-inverse h4,
.l-section-hero.is-inverse h5,
.l-section-hero.is-inverse h6,
.l-section-hero.is-inverse p {
  color: #fff;
}
.hero-image {
  height: 500px;
  background-color: #f00;
  text-align: center;
}
@media screen and (min-width: 39.9375em) {
  .hero-image {
    padding: 20px;
  }
  .hero-image.align-right {
    text-align: right;
  }
  .hero-image.align-left {
    text-align: left;
  }
}
.is-size-cover {
  background-position: center center;
  background-size: cover;
}
.l-section-products {
  padding: 15px;
}
@media screen and (min-width: 39.9375em) {
  .l-section-products {
    padding: 40px;
  }
}
.product-item {
  text-align: center;
}
@media screen and (min-width: 39.9375em) {
  .product-item {
    padding-bottom: 20px;
  }
}
.product-item figure {
  padding: 0;
  margin: 0;
}
.product-item figure img {
  width: 100%;
  max-width: 350px;
  height: auto;
}
.product-item figcaption {
  font-family: OneNike;
  text-transform: uppercase;
  color: #000;
}
.banner-link {
  display: block;
  height: 300px;
}
@media screen and (min-width: 39.9375em) {
  .banner-link {
    height: 500px;
  }
  .banner-link:hover .l-banner-link-content,
  .banner-link:focus .l-banner-link-content {
    transition: opacity 300ms, visibility 0ms;
    visibility: visible;
    opacity: 1;
  }
}
.l-banner-link-content {
  transition: opacity 300ms, visibility 0ms linear 300ms;
}
@media screen and (min-width: 39.9375em) {
  .l-banner-link-content {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (min-width: 39.9375em) {
  .l-banner-link-group .l-banner-link:first-child .l-banner-link-footer {
    padding: 15px 50px;
  }
  .l-banner-link-group .l-banner-link:first-child .l-banner-link-footer:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100px;
    border-right: 1px solid #b2b2b2;
    right: 0;
    top: 30px;
  }
}
.l-banner-link-footer {
  padding: 20px;
  margin-right: -15px;
  text-align: center;
  position: relative;
}
.banner-link-title {
  margin: 15px;
}
.button,
a.button {
  font-family: OneNike;
  font-weight: normal;
  text-transform: uppercase;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  border: 1px solid #efefef;
  cursor: pointer;
  background: #fff;
}
.button:focus,
a.button:focus,
.button:hover,
a.button:hover {
  text-decoration: none;
}
.button.is-primary {
  background: #fff;
  color: #000;
}
.button.is-link {
  border: none;
  padding: 8px 0;
  display: block;
}
.button.expanded {
  width: 100%;
  text-align: center;
}
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-list li,
.menu-list li>a {
  display: block;
}
.menu-list li>a {
  text-align: center;
}
@media screen and (max-width: 39.9375em) {
  .menu-list li>a {
    padding: 8px 14px;
    border-bottom: 1px solid #efefef;
  }
  .menu-list li:first-child>a {
    border-top: 1px solid #efefef;
  }
}
@media screen and (min-width: 39.9375em) {
  .menu-list {
    display: block;
    text-align: center;
  }
  .menu-list li {
    display: inline-block;
    padding: 0 25px;
    border-right: 2px solid #666;
  }
  .menu-list li:last-child {
    border-right: none;
  }
}
