.button, a.button
  font-family headingFontFamily
  font-weight normal
  text-transform uppercase
  padding 8px 15px
  display inline-block
  border-radius 3px
  text-align center
  text-decoration none
  color black
  border 1px solid #efefef
  cursor pointer
  background white
  &:focus,
  &:hover
    text-decoration none

.button.is-primary
  background white
  color black