.button, a.button
  font-family headingFontFamily
  font-weight normal
  text-transform uppercase
  padding 8px 15px
  display inline-block
  border-radius 3px
  text-decoration none
  color black
  border 1px solid #efefef
  cursor pointer
  background white
  &:focus,
  &:hover
    text-decoration none

.button.is-primary
  background white
  color black

.button.is-link
  border none
  padding 8px 0
  display block

.button.expanded
  width 100%
  text-align center

.svg-icon
  display block
  svg
    width 20px
    height 20px

.social-icon
  border-radius 50%
  width 30px
  height 30px
  padding-top 5px
  background black
  &.is-facebook
    background #3b5693
  &.is-twitter
    background #5fabe0
  &.is-instagram
    background #457aa2
  &.is-youtube
    background #e82e33
  svg
    fill white