.l-page-header
  +mediumUp()
    padding-bottom 30px

.l-section-hero
  h2
    font-size 54px
    margin-bottom 15px

.l-section-hero.is-inverse
  h1,h2,h3,h4,h5,h6,p
    color white



.hero-image
  height 300px
  background-color red
  text-align center
  +mediumUp()
    height 500px


+mediumUp()
  .hero-image
    padding 20px
  .hero-image.align-right
    text-align right

  .hero-image.align-left
    text-align left



.l-section-products
  padding 15px
  +mediumUp()
    padding 40px

.product-item
  text-align center
  +mediumUp()
    padding-bottom 20px
  figure
    padding 0
    margin 0
  figure img
    width 100%
    max-width 350px
    height auto
  figcaption
    font-family headingFontFamily
    text-transform uppercase
    color black

.banner-link
  display block
  height 300px
  +mediumUp()
    height 500px
    &:hover,
    &:focus
      .l-banner-link-content
        transition opacity 300ms, visibility 0ms
        visibility visible
        opacity 1

.l-banner-link-content
  transition opacity 300ms, visibility 0ms linear 300ms
  +mediumUp()
    opacity 0
    visibility hidden

.l-banner-link-group .l-banner-link:first-child
  .l-banner-link-footer
    +mediumUp()
      padding 15px 50px
      &:after
        content ""
        display block
        position absolute
        width 1px
        height 100px
        border-right 1px solid #b2b2b2
        right -15px
        top 30px


.l-banner-link-footer
  padding 20px
  text-align center
  position relative



.banner-link-title
  margin 15px



.l-section-social .icon-list
  +mediumOnly()
    padding 15px 150px

.l-social-header
  padding 20px

.l-social-links
  padding 30px 15px
  +mediumUp()
    padding-top 80px
    padding-bottom 30px

