.l-page-header
  +mediumUp()
    padding-bottom 30px

.l-section-hero
  h2
    font-size 54px
    margin 0

.l-section-hero.is-inverse
  h1,h2,h3,h4,h5,h6,p
    color white



.hero-image
  height 500px
  background-color red
  text-align center

+mediumUp()
  .hero-image
    padding 20px
  .hero-image.align-right
    text-align right

  .hero-image.align-left
    text-align left

.is-size-cover
  background-position center center
  background-size cover

.l-section-products
  padding 15px
  +mediumUp()
    padding 40px

.product-item
  text-align center
  figure
    padding 0
    margin 0
  figure img
    width 100%
    max-width 350px
    height auto
  figcaption
    font-family headingFontFamily
    text-transform uppercase
    color black