// Type styles

body
  font-family bodyFontFamily

p
  margin-top 0

h1,h2,h3,h4,h5,h6
  font-family headingFontFamily
  font-weight normal
  text-transform uppercase
  line-height 100%

a
  color linkColor
  text-decoration none
  cursor pointer
  &:hover,
  &:focus
    text-decoration underline

h1>a,h2>a,h3>a,h4>a,h5>a,h6>a
  color black

h1
  font-size 45px
  +largeUp()
    font-size 54px

h3
  font-size 26px

.page-header-title
  text-align center
  padding 15px
  margin 0
  +largeUp()
    margin 30px 0
