// mixins
largeUp()
  @media screen and (min-width: bkMedium)
    {block}

mediumUp()
  @media screen and (min-width: bkSmall)
    {block}

// mixins
smallOnly()
  @media screen and (max-width: bkSmall)
    {block}

.text-center-small
  +smallOnly()
    text-align center