// mixins
largeUp()
  @media screen and (min-width: bkMedium)
    {block}

mediumUp()
  @media screen and (min-width: bkSmall)
    {block}

// mixins
smallOnly()
  @media screen and (max-width: bkSmall)
    {block}

mediumOnly()
  @media screen and (min-width: bkSmall) and (max-width: bkMedium)
    {block}

.text-center-small
  +smallOnly()
    text-align center

.text-center
  text-align center

.is-background-gray
  background-color:#efefef;

ul.is-inline
  list-style none
  display block
  text-align center
  padding 0
  li
    display inline-block