// Typography
headingFontFamily = OneNike, Helvetica, sans-serif
bodyFontFamily = Helvetica, Arial, sans-serif
linkColor = rgb(102,102,102)

// Breakpoints
bkSmall = 39.9375em
bkMedium = 64em
bkLarge = 75em