// Main stylesheet
@font-face
  font-family OneNike
  src url("/fonts/OneNike.woff")


// vars
headingFontFamily = OneNike
bodyFontFamily = Arial, Helvetica, sans-serif

body
  font-family bodyFontFamily


h1,h2,h3,h4,h5,h6
  font-family headingFontFamily